/* Custom design with class */

.cards {
	background-color:#F5F5F5;
	padding: 50px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	margin: 40px 0px;
	text-align: center; 
	align-items: center;
}

.cards {
 	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card{
 	flex-basis: 45%;
	flex-grow: 0;
	margin: 10px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

.card img {
	display: block;
	width: 100%;
	max-width: 100%;
}

.card .card_text-container{
	padding: 20px 20px 40px 20px;
}

